<div class="container">
  <label>{{errorMessage}}</label>
  <mat-form-field>
    <input matInput placeholder="Name" name="name" [(ngModel)]="this.customer.selected.name">
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Sex" name="sex" [(ngModel)]="this.customer.selected.sex">
      <mat-option>None</mat-option>
      <mat-option value="M">Man</mat-option>
      <mat-option value="F">Woman</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="City" name="city" [(ngModel)]="this.customer.selected.city">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Order" name="order" [(ngModel)]="this.customer.selected.order">
  </mat-form-field>
  <button mat-flat-button color="primary" (click)="onSaveForm()">
    Save<mat-icon>save</mat-icon>
  </button>
</div>
